{% extends "benjBundle:Advise:default_advise.html.twig" %}

{% block response_button %}
    {% if advises.adviseResponse == 'False' %}

        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-1">
                <a href="{{ path('_admin_statistics', {'group':'advise' ,'gender':tab}) }}" class="btn btn-info btn-icon icon-left btn-lg center-block">
                    <i class="entypo-back"></i>
                    Back to all {{tab}} comments
                </a>
            </div>
            <div class="col-sm-3 col-sm-offset-4">
                <a class="btn btn-orange btn-lg btn-icon icon-left" href="{{ path('_pre_advise', {'id':advises.id, 'artId':advises.adviseArt.id, 'gender':tab}) }}">
                    <i class="entypo-pencil"></i>
                    Response
                </a>
            </div> 
        </div> 

    {% endif %}
{% endblock %}

{% block advise_response %}
    {% if advises.adviseResponse == 'True' %}

        <div class="panel panel-success" data-collapsed="0">

            <!-- panel head -->
            <div class="panel-heading">
                <div class="panel-title">
                    <h2>Response</h2>
                </div>
            </div>

            <!-- panel body -->
            <div class="panel-body">
                <div class="col-lg-12">
                    <pre><h3>{{advises.adviseResponseContent}}</h3></pre>
                </div>
            </div>
        </div>
        <footer class="main">
            <div>
                <a type="button" href="{{ path('_admin_statistics', {'group':'advise' ,'gender':tab}) }}" class="btn btn-info btn-lg btn-icon icon-left center-block">
                    <i class="entypo-back"></i>
                    Back to all {{tab}} advises
                </a>
            </div>
            {% block advise_delete %}{% endblock %}  
        </footer>

    {% endif %}
{% endblock %}
