<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Neon Admin Panel" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="{{asset('bundles/benj/images/petit_logo.jpg')}}">

        <title>BenjArts | Admin</title>      
        
        <script src="{{asset('bundles/benj/assets/js/jquery-1.11.0.min.js')}}"></script>
        <script>$.noConflict();</script>

        <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


    </head>
    <body class="page-body" data-url="http://neon.dev">
        
        {% block container %} {% endblock %}              

        <link rel="stylesheet" href="{{asset('bundles/benj/assets/js/select2/select2-bootstrap.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/benj/assets/js/select2/select2.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/benj/assets/js/selectboxit/jquery.selectBoxIt.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/benj/assets/js/daterangepicker/daterangepicker-bs3.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/benj/assets/js/icheck/skins/minimal/_all.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/benj/assets/js/icheck/skins/square/_all.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/benj/assets/js/icheck/skins/flat/_all.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/benj/assets/js/icheck/skins/futurico/futurico.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/benj/assets/js/icheck/skins/polaris/polaris.css')}}">       
        
        <!-- Bottom scripts (common) -->
        <script src="{{asset('bundles/benj/assets/js/gsap/main-gsap.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/bootstrap.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/joinable.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/resizeable.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/neon-api.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/jquery.inputmask.bundle.min.js')}}"></script>      
        
        <script src="{{asset('bundles/benj/assets/js/jquery-jvectormap-europe-merc-en.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/jquery.sparkline.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/rickshaw/vendor/d3.v3.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/rickshaw.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/raphael-min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/morris.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/toastr.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/jquery.inputmask.bundle.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/jquery.selectBoxIt.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/bootstrap-tagsinput.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/moment.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/daterangepicker.js')}}"></script>

        <!-- Imported scripts on this page -->
        <script src="{{asset('bundles/benj/assets/js/select2/select2.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/bootstrap-tagsinput.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/typeahead.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/selectboxit/jquery.selectBoxIt.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/bootstrap-datepicker.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/bootstrap-timepicker.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/bootstrap-colorpicker.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/daterangepicker/moment.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/daterangepicker/daterangepicker.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/jquery.multi-select.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/icheck/icheck.min.js')}}"></script>
        <script src="{{asset('bundles/benj/assets/js/neon-chat.js')}}"></script>

        <!-- JavaScripts initializations and stuff -->
        <script src="{{asset('bundles/benj/assets/js/neon-custom.js')}}"></script>

        <!-- Demo Settings -->
        <script src="{{asset('bundles/benj/assets/js/neon-demo.js')}}"></script>
        
        <script src="{{asset('bundles/benj/assets/js/jquery.validate.min.js')}}"></script>

    </body>
</html>